@model shippingCodefirstTest.ViewModels.XmlViewModel

@{
    ViewBag.Title="Create";
}

<h2>Create</h2>


@using(Html.BeginForm("Create")) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Label</h4>
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        <h4>Sender's Information</h4>
        <div>
            @Html.EditorFor(m => m.sender_info.from_name)
            @Html.ValidationMessageFor(m => m.sender_info.from_name,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.sender_info.from_address_1)
        </div>
        <div>
            @Html.EditorFor(m => m.sender_info.from_address_1)
            @Html.ValidationMessageFor(m => m.sender_info.from_address_1,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.sender_info.from_address_2)
        </div>
        <div>
            @Html.EditorFor(m => m.sender_info.from_address_2)
            @Html.ValidationMessageFor(m => m.sender_info.from_address_2,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.sender_info.from_zipcode)
        </div>
        <div>
            @Html.EditorFor(m => m.sender_info.from_zipcode)
            @Html.ValidationMessageFor(m => m.sender_info.from_zipcode,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.sender_info.from_telephone)
        </div>
        <div>
            @Html.EditorFor(m => m.sender_info.from_telephone)
            @Html.ValidationMessageFor(m => m.sender_info.from_telephone,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.sender_info.from_city)
        </div>
        <div>
            @Html.EditorFor(m => m.sender_info.from_city)
            @Html.ValidationMessageFor(m => m.sender_info.from_city,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.sender_info.from_nation_state)
        </div>
        <div>
            @Html.EditorFor(m => m.sender_info.from_nation_state)
            @Html.ValidationMessageFor(m => m.sender_info.from_nation_state,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.sender_info.from_email)
        </div>
        <div>
            @Html.EditorFor(m => m.sender_info.from_email)
        </div>
        <div>
            @Html.LabelFor(m => m.sender_info.from_nation)
        </div>
        <div>
            @Html.EditorFor(m => m.sender_info.from_nation)
        </div>
        <h4>Receiver's Information</h4>
        <div>
            @Html.LabelFor(m => m.receiver_info.to_name)
        </div>
        <div>
            @Html.EditorFor(m => m.receiver_info.to_name)
            @Html.ValidationMessageFor(m => m.receiver_info.to_name,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.receiver_info.to_address_1)
        </div>
        <div>
            @Html.EditorFor(m => m.receiver_info.to_address_1)
            @Html.ValidationMessageFor(m => m.receiver_info.to_address_1,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.receiver_info.to_address_2)
        </div>
        <div>
            @Html.EditorFor(m => m.receiver_info.to_address_2)
            @Html.ValidationMessageFor(m => m.receiver_info.to_address_2,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.receiver_info.to_zipcode)
        </div>
        <div>
            @Html.EditorFor(m => m.receiver_info.to_zipcode)
            @Html.ValidationMessageFor(m => m.receiver_info.to_zipcode,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.receiver_info.to_telephone)
        </div>
        <div>
            @Html.EditorFor(m => m.receiver_info.to_telephone)
            @Html.ValidationMessageFor(m => m.receiver_info.to_telephone,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.receiver_info.to_city)
        </div>
        <div>
            @Html.EditorFor(m => m.receiver_info.to_city)
            @Html.ValidationMessageFor(m => m.receiver_info.to_city,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.receiver_info.to_nation_state)
        </div>
        <div>
            @Html.EditorFor(m => m.receiver_info.to_nation_state)
            @Html.ValidationMessageFor(m => m.receiver_info.to_nation_state,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.receiver_info.to_email)
        </div>
        <div>
            @Html.EditorFor(m => m.receiver_info.to_email)
        </div>
        <div>
            @Html.LabelFor(m => m.receiver_info.to_nation)
        </div>
        <div>
            @Html.EditorFor(m => m.receiver_info.to_nation)
        </div>
        <h4>Parcel Information</h4>
        <div>
            @Html.LabelFor(m => m.parcel_info.pkg_length)
        </div>
        <div>
            @Html.EditorFor(m => m.parcel_info.pkg_length)
            @Html.ValidationMessageFor(m => m.parcel_info.pkg_length,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.parcel_info.pkg_width)
        </div>
        <div>
            @Html.EditorFor(m => m.parcel_info.pkg_width)
            @Html.ValidationMessageFor(m => m.parcel_info.pkg_width,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.parcel_info.pkg_height)
        </div>
        <div>
            @Html.EditorFor(m => m.parcel_info.pkg_height)
            @Html.ValidationMessageFor(m => m.parcel_info.pkg_height,null,new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(m => m.parcel_info.pkg_weight)
        </div>
        <div>
            @Html.EditorFor(m => m.parcel_info.pkg_weight)
            @Html.ValidationMessageFor(m => m.parcel_info.pkg_weight,null,new { @class = "text-danger" })
        </div>@*<div>
                pkg_insurance @Html.TextBox("pkg_insurance")
            </div><div>
                item_name @Html.TextBox("item_name")
            </div><div>
                item_description @Html.TextBox("item_description")
            </div><div>
                item_qty @Html.TextBox("item_qty")
            </div><div>
                item_weight @Html.TextBox("item_weight")
            </div><div>
                pick_way @Html.TextBox("pick_way")
            </div><div>
                ship_date @Html.TextBox("ship_date")
            </div><div>
                ship_purpose @Html.TextBox("ship_purpose")
            </div>*@
        @*<div class="form-group">
                @Html.LabelFor(model => model.LabelId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LabelId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LabelId, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.ver, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ver, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ver, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.lb_content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.lb_content, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.lb_content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.order_id, "order_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("order_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.order_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.user_id, "user_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("user_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                </div>
            </div>*@
        @*<div class="form-group">
                @Html.LabelFor(model => model.user_id,"user_id",htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("user_id",null,htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.user_id,"",new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List","Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
