@model shippingCodefirstTest.Models.Label

@{
    ViewBag.Title="Details";
}

<h2>Details</h2>
@using(Html.BeginForm("Summary", "UserLabels")) {
    @Html.AntiForgeryToken()
<div>
    <h4>Label</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lb_obj.sender_info.from_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lb_obj.sender_info.from_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lb_obj.sender_info.from_address_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lb_obj.sender_info.from_address_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lb_obj.receiver_info.to_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lb_obj.receiver_info.to_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lb_obj.receiver_info.to_address_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lb_obj.receiver_info.to_address_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lb_obj.parcel_info.pkg_weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lb_obj.parcel_info.pkg_weight)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.lb_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lb_content)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_updated_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_updated_time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderHistory.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderHistory.OrderId)

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderHistory.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderHistory.status)
        </dd>
            @foreach(var rate in Model.lookupPrice.rates) {

            <dt>
                @Html.DisplayFor(m => rate.service)
            </dt>
            <dd>
                @Html.RadioButtonFor(m => rate.rate,rate.id)
                @Html.DisplayFor(m => rate.rate)
            </dd>
            }  
        </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Checkout" class="btn btn-default" />
            @*<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_6prnascoboktishfeqd4xmuh"
                    data-amount="2000"
                    data-name="demo site"
                    data-description="2 widgets ($20.00)"
                    data-image="/128x128.png"
                    data-locale="auto">
            </script>*@
        </div>
    </div>
    </div>
}
    <p>
        @Html.ActionLink("Edit","Edit",new { id = Model.LabelId }) |
        @Html.ActionLink("Back to List","Index")
    </p>
