@model shippingCodefirstTest.Models.OrderHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_sell_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_sell_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_cost_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_cost_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_sell_tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_sell_tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_sell_balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_sell_balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_updated_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_updated_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paid_on_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paid_on_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
